:root {
    --river-bed: #46505A;
    --malibu: #94DDF4;
    --rhino: #323F68;
    --feijoa: #9EDA8C;
    --jagged-ice: #C9EDE5;
    --terracotta: #E68762;
    --hopbush: #C06396;
    --height: 250px;
    --padding: 5%;
    --boxHeight: 200px;
}

.a-ice {
    color: var(--jagged-ice);
    text-decoration: none;
}

.a-ice :hover {
    color: var(--rhino);
}

.a-terracotta {
    color: var(--terracotta);
    text-decoration: none;
}

.a-terracotta :hover {
    color: var(--rhino);
}

/* Default background and text color, and width of page */
body {
    background-color: var(--river-bed);
    color: var(--malibu);
    width: 100%;      
}


/* Header section */
/* generic header properties */
header {
    width: 100%;
    height: var(--height);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--feijoa);
    color: var(--rhino);
    position: relative;
}

/* header H1 display */
header h1 {
    display: inline-flex;
    position: absolute;
    flex-wrap: wrap;
    bottom: 65px;
    left: 213px;
    font-size: 16pt;
}

/* header H2 display */
header h2 {
    position: absolute;
    bottom: 3px;
    left: 210px;
    font-size: 50pt;
}

/* header image display */
header img {
    width: 200px;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 25pt 0pt 0pt;
    border: var(--feijoa);
}

/* header nav layout */
header nav {
    display: inline-flex;
    flex-wrap: wrap;
    position: absolute;
    right: 40px;
    bottom: 10px;
    font-size: 16pt;
}

/* header individual link padding */
header a {
    padding: 15px;
    color: var(--rhino);
    text-decoration: none;
    font-weight: bold;

}

/* Header page nav links */
section figure ul {
    padding-top: 20px;
    padding-right: 10px;
    font-weight:600;
}

/* All H3 display */
h3 {
    font-size: 46pt;
}

/* Generic article properties */
article {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 100%;
    justify-content: center;
}

/* generic about me properties */
#aboutMe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: var(--padding);
    margin-top: 100px;
    background-color: var(--hopbush);
    color: var(--jagged-ice);
    font-size: large;
}

/* ID highlight image in work section */
#workOne-image {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* ID highlight work section display */
#workOne {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 95%;
    height: 390px;
    background-color: var(--feijoa);
    color: var(--rhino);
    font-size: large;
    text-align: center;
    padding: var(250px);
    margin-top: 250px;
    border-style: solid;
    border-width: 20px;
    border-color: var(--river-bed);
    justify-content: space-between;
}

/* CLASS 2nd and 5th work sections display */
.work2-5 {
    position: relative;
    display: block;
    text-align: right;
    width: 65%;
    height: var(--boxHeight);
    background-color: var(--jagged-ice);
    color: var(--terracotta);
    padding: var(--padding);
    border-style: solid;
    border-width: 20px;
    border-color: var(--river-bed);
}

/* CLASS 3rd and 4th work sections display */
.work3-4 {
    position: relative;
    display: block;
    flex-wrap: wrap;
    text-align: left;
    width: 30%;
    height: var(--boxHeight);
    background-color: var(--terracotta);
    color: var(--jagged-ice);
    padding: var(--padding);
    border-style: solid;
    border-width: 20px;
    border-color: var(--river-bed);
    text-decoration: none;
}

/* CLASS images in work sections */
.worksImages {
    position: absolute;
    top: 0;
    left: 0;
}

/* ID contact me generic display */
#myHomingpigeons {
    display: block;
    flex-wrap: wrap;
    right: 0;
    padding: var(--padding);
    margin-top: var(--height);
    width: 100%;
    background-color: var(--hopbush);
    color: var(--jagged-ice);
    text-align: right;
}

/* CLASS contact me font padding */
.homingFont {
    padding-top: 10px;
}

ul a {
    color: var(--rhino);
    text-decoration: none;
}

ul :hover {
    color: var(--jagged-ice);
}


/* work section stacked at 992px or smaller */
@media screen and (max-width: 992px) {
    .work2-5 {
      width: 100%;
    }
    .work3-4 {
        width: 100%;
      }
  }
  
  /* work section stacked at 768px or smaller */
  @media screen and (max-width: 768px) {
    .work2-5 {
        width: 25%;
      }
      .work3-4 {
          width: 25%;
        }
  }